In [20]:
import pandas as pd
import numpy as np

In [21]:
df1 = pd.read_csv('final locaction.csv')
df1.head()

                    location
0        1st Block Jayanagar
1         1st Phase JP Nagar
2  2nd Phase Judicial Layout
3       2nd Stage Nagarbhavi
4       5th Block Hbr Layout

In [22]:
df1['schools']=""
df1

                      location schools
0          1st Block Jayanagar
1           1st Phase JP Nagar
2    2nd Phase Judicial Layout
3         2nd Stage Nagarbhavi
4         5th Block Hbr Layout
..                         ...     ...
236                  Yelahanka
237         Yelahanka New Town
238                Yelenahalli
239               Yeshwanthpur
240                      other

[241 rows x 2 columns]

In [23]:
df1.at[3,"schools"]= ""
df1

                      location schools
0          1st Block Jayanagar
1           1st Phase JP Nagar
2    2nd Phase Judicial Layout
3         2nd Stage Nagarbhavi
4         5th Block Hbr Layout
..                         ...     ...
236                  Yelahanka
237         Yelahanka New Town
238                Yelenahalli
239               Yeshwanthpur
240                      other

[241 rows x 2 columns]

In [24]:
df2 = pd.read_csv('bangalore-schools-2.csv')
df2.head()

,DISE id,School Name,Management,Medium of Instruction,Category,Sex,Cluster,Block,District,School Type,...,BEO Name,BEO Contact,BEO Mobile,BEO Email,DDPI Name,DDPI Juristiction,DDPI Contact 1,DDPI Contact 2,DDPI Mobile,DDPI Email
0,33396,GKLPS GOPASANDRA,ed,kannada,Lower Primary,co-ed,nerlooru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1,32856,GKLPS CHOODASANDRA,ed,kannada,Lower Primary,co-ed,huskuru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
2,32918,GKLPS V KALLAHALLI,ed,kannada,Lower Primary,co-ed,dommasandra,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
3,33364,GKHPS NERIGE,ed,kannada,Upper Primary,co-ed,mugaluru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
4,33399,GKLPS NARAYANA GATTA,ed,kannada,Lower Primary,co-ed,chandapura,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in

In [25]:
df2

,DISE id,School Name,Management,Medium of Instruction,Category,Sex,Cluster,Block,District,School Type,...,BEO Name,BEO Contact,BEO Mobile,BEO Email,DDPI Name,DDPI Juristiction,DDPI Contact 1,DDPI Contact 2,DDPI Mobile,DDPI Email
0,33396,GKLPS GOPASANDRA,ed,kannada,Lower Primary,co-ed,nerlooru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1,32856,GKLPS CHOODASANDRA,ed,kannada,Lower Primary,co-ed,huskuru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
2,32918,GKLPS V KALLAHALLI,ed,kannada,Lower Primary,co-ed,dommasandra,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
3,33364,GKHPS NERIGE,ed,kannada,Upper Primary,co-ed,mugaluru,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
4,33399,GKLPS NARAYANA GATTA,ed,kannada,Lower Primary,co-ed,chandapura,anekal,bangalore u south,primary,...,D.R.Ramamurthy,080-7829293,9.480695e+09,beo-ank.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1916,37067,Yuvaka Vikasa Hs,ed,kannada,Upper Primary,co-ed,marathahalli,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1917,37040,Manu Higher Primary School,p-a,kannada,Model Primary,co-ed,rammurthynagar,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1918,37065,LAL BAHADUR SHASTRI NAGAR HS,ed,kannada,Upper Primary,co-ed,varanasi,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1919,37012,ST JOSEPH CONVENT KANNADA,ed,kannada,Model Primary,co-ed,varanasi,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in
1920,37064,SUNDARI AMMAL HS,ed,NaN,Upper Primary,co-ed,jodi huskur,south-4,bangalore u south,primary,...,S.M.Ramesh,080-25614686,9.480695e+09,beo4-s.edu.karbng@kar.nic.in,Ashwatha Narayana Gowda,"DDPI, Bangalore South",P : 080-26701189,F : 080-26705692,M : 9448999327,ddpi-s.edu.karbng@nic.in

In [30]:
df3= df2.loc[:,["School Name","Address"]]
df3

,School Name,Address
0,GKLPS GOPASANDRA,"Chandapura To Dommasandra Main Road, Mutha Nal..."
1,GKLPS CHOODASANDRA,"Huskuru Post, Anekal Taluk, Choodasandra"
2,GKLPS V KALLAHALLI,"Chikkadasarahalli Road, Sarjapura Post, Sarjap..."
3,GKHPS NERIGE,"Neagari Post,Anekal taluk,Sarjapur Hobli, Neag..."
4,GKLPS NARAYANA GATTA,"Chandapura To Dommasandra Main Road, Mutha Nal..."
...,...,...
1916,Yuvaka Vikasa Hs,Marathalli
1917,Manu Higher Primary School,Ram Murty Nagar
1918,LAL BAHADUR SHASTRI NAGAR HS,Varnasi
1919,ST JOSEPH CONVENT KANNADA,Varanasi
1920,SUNDARI AMMAL HS,"AVALAHALLI, AVALAHALLI"

In [40]:
df3.loc[:,"School Name"].isnull().sum()

0

In [57]:
df4=df3.dropna()
df4=df4.reset_index()
df4

,index,School Name,Address
0,0,GKLPS GOPASANDRA,"Chandapura To Dommasandra Main Road, Mutha Nal..."
1,1,GKLPS CHOODASANDRA,"Huskuru Post, Anekal Taluk, Choodasandra"
2,2,GKLPS V KALLAHALLI,"Chikkadasarahalli Road, Sarjapura Post, Sarjap..."
3,3,GKHPS NERIGE,"Neagari Post,Anekal taluk,Sarjapur Hobli, Neag..."
4,4,GKLPS NARAYANA GATTA,"Chandapura To Dommasandra Main Road, Mutha Nal..."
...,...,...,...
1876,1916,Yuvaka Vikasa Hs,Marathalli
1877,1917,Manu Higher Primary School,Ram Murty Nagar
1878,1918,LAL BAHADUR SHASTRI NAGAR HS,Varnasi
1879,1919,ST JOSEPH CONVENT KANNADA,Varanasi
1880,1920,SUNDARI AMMAL HS,"AVALAHALLI, AVALAHALLI"

In [63]:
df4.drop(["index"],axis = 1 )

,School Name,Address
0,GKLPS GOPASANDRA,"Chandapura To Dommasandra Main Road, Mutha Nal..."
1,GKLPS CHOODASANDRA,"Huskuru Post, Anekal Taluk, Choodasandra"
2,GKLPS V KALLAHALLI,"Chikkadasarahalli Road, Sarjapura Post, Sarjap..."
3,GKHPS NERIGE,"Neagari Post,Anekal taluk,Sarjapur Hobli, Neag..."
4,GKLPS NARAYANA GATTA,"Chandapura To Dommasandra Main Road, Mutha Nal..."
...,...,...
1876,Yuvaka Vikasa Hs,Marathalli
1877,Manu Higher Primary School,Ram Murty Nagar
1878,LAL BAHADUR SHASTRI NAGAR HS,Varnasi
1879,ST JOSEPH CONVENT KANNADA,Varanasi
1880,SUNDARI AMMAL HS,"AVALAHALLI, AVALAHALLI"

In [53]:
df4.loc[:,"Address"].isnull().sum()

0

In [67]:
k=0
j=0
l=0
while j<240:
    i=0
    while i<1881 :
        if df1.at[j,'location'] in df4.at[i,'Address'] :
            df1.at[j,'schools']=  df4.at[i,'School Name'] + str(",") +  df1.at[j,'schools']
            k=k+1
        #else:
            #df1.at[240,'schools']=df4.at[i,'School Name'] + df1.at[240,'schools'] 
            #l=l+1
        
        i=i+1
    j=j+1
print(k)
print(l)

1182
0

In [54]:
len(df4.index)

1881

In [55]:
df4

,School Name,Address
0,GKLPS GOPASANDRA,"Chandapura To Dommasandra Main Road, Mutha Nal..."
1,GKLPS CHOODASANDRA,"Huskuru Post, Anekal Taluk, Choodasandra"
2,GKLPS V KALLAHALLI,"Chikkadasarahalli Road, Sarjapura Post, Sarjap..."
3,GKHPS NERIGE,"Neagari Post,Anekal taluk,Sarjapur Hobli, Neag..."
4,GKLPS NARAYANA GATTA,"Chandapura To Dommasandra Main Road, Mutha Nal..."
...,...,...
1916,Yuvaka Vikasa Hs,Marathalli
1917,Manu Higher Primary School,Ram Murty Nagar
1918,LAL BAHADUR SHASTRI NAGAR HS,Varnasi
1919,ST JOSEPH CONVENT KANNADA,Varanasi
1920,SUNDARI AMMAL HS,"AVALAHALLI, AVALAHALLI"

In [68]:
df1.to_csv("school location final final.csv")

In [ ]:
type(df1['location'].apply(str))

In [ ]:
while j<240:
    if df1.at[j,'location']== "Whitefield":
        print("True")
    j=j+1

In [ ]:
df1

In [ ]:
df1.to_csv("supermarket in area final.csv")